git+https://github.com/viihome/Viigram.git
telegraph
TgCrypto
tornado
rich
pytz
psutil
motor
dnspython
GitPython
bs4
Pillow
pymediainfo
requests
unidecode
attrify
ntgcalls
py-tgcalls
uvloop
pySmartDL
html2text
removebg
aiofiles
aiohttp
aiosignal
gpytranslate
gtts
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
python-dotenv
numpy
opencv-python-headless
pykeyboard
pyromod
pyrogram
openai
meval
