git+https://github.com/viihome/Viigram.git
aiofiles
aiohttp
aiosignal
attrify
bs4
dnspython
emoji
GitPython
gpytranslate
gtts
html2text
meval
motor
ntgcalls
numpy
opencv-python-headless
openai
Pillow
py-tgcalls
pySmartDL
pykeyboard
pymediainfo
pymongo
pyrogram
pyromod
python-dateutil
python-dotenv
pytz
removebg
requests
rich
telegraph
TgCrypto
tornado
unidecode
uvloop
wget
youtube-search-python
yt-dlp
