git+https://github.com/Zacnhere/ZacnUbot.git
pyromod==1.0
tgcrypto
git+https://github.com/pytgcalls/pytgcalls.git
rich
pytz
psutil
motor
dnspython
GitPython
pykeyboard
bs4
Pillow==9.5.0
pymediainfo
opencv-python-headless
requests
unidecode
attrify
uvloop
pySmartDL
html2text
removebg
aiofiles
aiohttp
gpytranslate
gtts
telegraph
openai==0.28
youtube-search-python
pymongo
yt-dlp
wget
python-dateutil
emoji
python-dotenv
